@media only screen and (min-width: 761px) {
    #list-sections {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;       
        align-items: center;
        width: 100%;
    }

    #section-3 {
        grid-column: 3/4;
    }


}


