@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Original+Surfer&display=swap");
body {
  margin: auto; 
  max-width: 1000px;
  align-self: center;
}
  .document-box {    
    box-shadow: 10px 10px 10px 10px #999;            
    margin: 0 1em 1em 1em;    
    max-width: 100%;
    text-align: center;
    
  }
header {
  background-color: #2383dd;  
  border-radius: 7px 7px 7px 7px;
  height: 120px; 
}
  h1 {
    font-family: "Original Surfer", georgia, sans-serif;
    color: white;    
    letter-spacing: 10px;
    align-items: center;      
    text-shadow: black 8px 8px 8px         
  }

 h2 {
 text-shadow: rgb(116, 102, 102) 5px 5px 5px 
 
}

h3{
  font-weight: 400;
}

img {
    margin: 20px 0px 20px 0px;
    border-radius: 5px 5px 5px 5px;
    max-width: 80%;      
    box-shadow: 5px 5px 5px  rgb(49, 45, 45);
    padding: 1em;
    background-color: #2383dd;  
 }

 .list-sections {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  grid-row-gap: 0.8em;
  margin: 1.5em 1em 1em 1em;
  padding: 2em;
}

#section1,
#section2,
#section3 {  
  border-radius: 20px; 
  height: 100%;
  text-align: center;
  padding: 1em;
 
}

.footer_class {
    background-color: #2383dd; /*Dark red*/   
    height: 90px; 
    box-shadow: 10px 10px 10px  #999; 
    border-radius: 7px 7px 7px 7px;    
    text-align: center; 
    padding: 5px;    
}

#copyrigth {
    color: white;     
 }

.footer_update{
    color: rgb(221, 224, 22); 
    font-size: large;
 } 

 footer p {
   color:white
 }

 